/* GENERALI-----------------------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

a:hover{
  text-decoration: none;
  color: dodgerblue;
}
a:visited{
  text-decoration: none;
}
a{
  text-decoration: none;
  color: #010e28;
}
ul{
  list-style-type: none;
}
/* NAVBAR------------------------------------*/
#logo-dig-ocean{
  width: 50%;
  height: auto;
  padding: 4.5% 3% 0;
}

.li-nav{
  float: left;
  padding: 3% 3% 0;
  font-weight:bold;
}

#sign-up{
  color: dodgerblue;
  border: 1px solid dodgerblue;
  padding:10px;
  border-radius: 10px;
}
.li-nav-right{
  float: right;
  padding: 3% 3% 0;
  font-weight:bold;
}
#hamburger-menu{
  float: right;
  padding: 3% 3% 0;
  display: none;
}
.navbar{
  padding: 7px 0 7px;
  background-color: white;
}
/* JUMBOTRON-----------------------------------------------------*/
#jumbotron{
  background-image: url("immagini/sfondo.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 50px;
}
.jumbo-txt{
  color: white;
  font-size: 150%;
  margin-top: 10%;
}
.prova{
  background-color: red;
  height: 344px;
}
/* SEZIONE LOGHI ----------------------------------------------------------*/
#sez-loghi{
  background-color: #f3f5f9;
  padding: 50px 0;
}
#loghi-txt{
  font-weight: bold;

}
#link-loghi{
  color: dodgerblue;
  font-weight: bold;
}
.loghi-img{
  width: 130px;
  height: auto;
  padding: 0 8px;
}
.loghi-wrapper{
  width: 80%;
  margin: auto;
  text-align: center;
}
/* DEPLOY SECTION ----------------------------------------------------*/
.deploy-menu{
  margin-left: 12%;
}
.li-deploy{
  font-size: 120%;
  padding: 4%;
  border-left: 1px solid grey;
}
.div-deploy{
  max-width: 70%;
}
/* SEZ CAROUSEL-------------------------------------------------------------*/
.sez-carousel{
  background-color: #f3f5f9;

}
.carousel-txt{
  padding: 40px 0;
}
#carousel-img-1{
  width: 80%;
  height: auto;
}
#carousel-icon{
  font-size: 20px;
}
.carousel-txt-2{
 padding-top: 20px;
}

.carousel-ring{
  font-size: 50px;
}
/* sez business ------------------------------------------------*/
.business-colonne{
  padding: 35px 0;
}
/* SEZ AROUND THE WORLD----------------------------------------- */
.around-wrapper{
  background-color: darkblue;
  color: white;
  padding: 35px 0;
}
.world-riga{
  border-bottom: 1px solid white;
  padding: 0 0 8px;
  margin-top: 10px;
}
.città{
  float: left;
  color: grey;
  margin-left: 5%;
}
.test-speed{
  float: right;
}
.sigla{
  float: left;
}
.sigla-txt{
  color: white;
}

.test-speed-txt{
  color: dodgerblue;
}

/* GET STARTED ---------------------------------------------------------*/
.get-started{
  background-image: url("immagini/sfondo.jpg");
  background-size: cover;
  padding: 30px 0;
  color: white;
}
#get-started-h2{
  padding-bottom: 10px;
  font-weight: bold;
}
#get-started-link{
  padding: 12px;
  background-color: white;
  margin-top: 5px;
  font-weight: bold;
  border-radius: 10px;
}
/* FOOTER -----------------------------------*/
.footer-section{
  background-color: darkblue;
  padding: 30px 0;
  color: lightgrey;
}
i{
  font-size: 20px;
  color: lightgrey;
}
i:hover{
  color: white;
}
#footer-king{
  color: lightgrey;
  font-size: 20px;
}
.li-footer-white{
  color: white;
}
.li-footer{
  color: grey;
}
/* MEDIA QUERY-------------------------------------------------------*/
/* NAVBAR-------------------------------------------*/
@media screen and (max-width: 400px){

  .li-nav{
    display: none;
  }
  .li-nav-right{
    display: none;
  }
  #logo-dig-ocean{
    width: 100px;
    height: auto;
    padding: 15px 0 0;
  }
  #hamburger-menu{
   padding: 11px 0 0;
   display: block;
   float: right;
 }

  .glyphicon{
    font-size: 25px;

  }
}
@media screen and (min-width: 401px) and (max-width: 1200px){

  .li-nav{
    display: none;
  }
  .li-nav-right{
    display: none;
  }
  #logo-dig-ocean{
    width: 100px;
    height: auto;
    padding: 12px 0 0;
  }
  #hamburger-menu{
    padding:  5px 0 0;
    display:block;
  }
  .glyphicon{
    font-size: 30px;
  }

}
/* SEZ LOGHI---------------------------------------------------*/
@media screen and (max-width: 359px){
  .loghi-img{
    width: 75px;
    height: auto;
    padding: 0 3px;
  }
  #hamburger-menu{
   padding: 0;
   display: block;
   float: right;
 }

}
@media screen and (min-width: 695px) and (max-width: 1199px){
  .loghi-img{
    width: 85px;
    height: auto;
    padding: 0 8px;
  }
}
/* sez deploy-----------------------------------------------------------------------------*/
@media screen and (max-width: 991px){
  .deploy-menu{
    margin-left: 0;
  }
  .div-deploy{
    max-width: 100%;
  }
}
